<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
    <li>
      Name: <%= user.name %>
      <span class="profile-link">
        <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
      </span>

      <% if current_user.friend?(user) %>
        <span  class="confirmed"> Confirmed Friendship</span>
      <% end %>
      <% unless (current_user.id == user.id) || (current_user.friend?user) %>
      <% if  (current_user.pending_friends.include?user) %>
        <span  class="pending">  Pending Request </span>
      <% elsif (current_user.friend_requests.include?user) %>
        <%= link_to "Accept", friendships_confirm_path(:user => user.id), class: 'btn'%>
        <%= link_to "Reject", friendships_reject_path(:user => user.id), class: 'btn-reject'%>
      <% elsif current_user.friend?(user) %>
      Friends
      <% else  %>
      <%= link_to "Invite to Friendship", friendships_friendship_request_path(:user => user.id), class:"btn" %>
      <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
</section>
